// Variables
$primary-color: #8bc34a; // Light Green
$secondary-color: #ffffff; // White
$text-color: #333333; // Dark Gray
$link-color: #4caf50; // Green

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mq($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}
